html {
	line-height: 1.5;
	font-family: sans-serif;
	font-size: 20px;
	color: #1a1a1a;
	background-color: #fdfdfd;
}

body {
	padding: 0;
	margin: 0;
}


.tab-content {
	margin: 0 auto;
	max-width: 36em;
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	hyphens: auto;
	overflow-wrap: break-word;
	text-rendering: optimizeLegibility;
	font-kerning: normal;
}


#header-tabs {
	display: flex;
	justify-content: space-around;
	height: 2.5em;
}

#header-tabs button {
	flex: 1 1 auto;
	outline: none;
	border: none;
	font-family: sans-serif;
	font-size: 1em;
	font-weight: bold;
}

#header-tabs .inactive {
	background-color: lightgrey;
}

#header-tabs .active {
	background-color: transparent;
}
